body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
}
.main-color {
  background-color: #001233;
}
.text-color {
  color: white;
}
.secondary-color {
  color: #007bff;
}

.btn-purple {
  background-color: #007bff;
  transition: all 0.2s ease-in;
  border: none;
}
.btn-purple:hover {
  color: #007bff;
  background-color: white;
  border: 1px solid #007bff;
  transform: scale(1);
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('/public/assets/images/coronavirus.jpeg');
  background-position: bottom;
  background-size: cover;
  width: 100%;
}
.table-card {
  max-height: 300px;
  overflow-y: scroll;
}

.table-card tbody tr td {
  padding: 0.2rem;
  font-size: 0.8rem;
}
